<div class="columns">
  <div class="column">
    <div class="field">
      <%= form.label :firstname, autofocus: true, class: "label" %>
      <%= form.text_field :firstname, autocomplete: 'firstname', class: 'input' %>
    </div>
  </div>

  <div class="column">
    <div class="field">
      <%= form.label :lastname, class: "label" %>
      <%= form.text_field :lastname, autocomplete: 'lastname', class: 'input' %>
    </div>
  </div>
</div>
