<div class="hero-head">
  <%= bulma_divise_flash_messages! %>
</div>


<div class='hero-body'>
  <div class='container is-desktop'>
    <h1 class='title'> My Portfolio </h1>
    <%= render 'stock_search' %>
    <div id="result" class="mb"> </div>
    <%= render 'users/stock_table', stocks: @stocks %>
  </div>
</div>
