<section class="section">
  <div class="container is-fluid">
    <h1 class="title">What is the FinanceTracker</h1>
    <h2 class="subtitle">
      This is a simple Application which allows you track easietly your
      favorite stocks synct by famous institutions, visualized in a nice interface.
      You and your friend can share your current portfollio, make comments to give you tip or notes.
    </h2>
  </div>
</section>

<div class="columns is-desktop" >
  <div class="column is-8 is-offset-2">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3 ">
          <%= image_tag "stock.png" %>
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          Some Mockup image of UI to feed some info for the user.
        </div>
        <div class="card-footer">
          <div class="card-footer-item">
            <p>
              Source can be found <a href="https://www.macrotrends.net/1358/dow-jones-industrial-average-last-10-years">here</a>
            <br>
              last updated at <time datetime="2020-8-4">11:09 PM - 8 apr 2020</time>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
