// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.stock_inline {
  display: inline;
}
.mb{
  margin-bottom: 2.5rem;
}

.mr05{
  margin-right: 0.5rem;
}
